/****** General ***********/
*, ::before, ::after{
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
}

:root {
--body-font: 'Raleway', sans-serif;
--font-size-s: 0.875rem;
--font-size:1rem;
--font-size-desktop: 1.0625rem;
--font-size-nav:1.125rem;
--font-size-m: 1.375rem;

--font-weight-bold: 700;
--font-weight:400;

--black:#000000;
--blue: #0065FC;
--blue-light: #DEEBFF;
--grey-tint-2: #D9D9D9;
--grey: #F2F2F2;
--white: #FFFFFF;
}


body {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    font-family: var(--body-font);
    font-size: var(--font-size);
    font-style: normal;
    font-weight: var(--font-weight);
    color: var(--black, #000000);
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
            clip-path: inset(50%) !important;
    height: 1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}

h1, h2{
    font-size: var(--font-size-m);
}

h3{
    font-size: var(--font-size);
}

.search-filter-header{
    display: flex;
    flex-direction: column;
    gap: 2.19rem;
    /* padding: 0 50px; */
}

.fa-solid {
    color: var(--blue, #0065FC);
}

li, li > a, button, input[type=submit], 
.hebergement-card-article, 
#afficher-plus a, 
.activite-card-article{
    cursor: url("./../images/icones/pointer.svg"), auto;
}

a{
    color: var(--black, #000000);
}

/* --------------------- HEADER ----------------------*/

#main-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 79px;
    margin-bottom: 30px;
    padding-right: 0px;
}

.logo{
    padding: 30px 50px;
}

.logo-img{
    width: 61px;
    height: 19px;
}

/* -------- nav --------*/

nav.header-navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4.20rem;
    width: 328px;
    padding: 0 25px;
}

ul.header-navigation-list {
    display: flex;
    gap: 4.25rem;
}

li.header-navigation-item > a{
    font-size: var(--font-size);
    padding-top: 14px;
}

li.header-navigation-item  a:hover{
    color: var(--blue, #0065FC);
    border-top: solid 0.125rem var(--blue, #0065FC);
}

/* ------------------------------- MAIN CONTENT -------------------------------*/

.main-content {
    padding: 0 50px;
}

/* --------------------- SEARCH FILTER HEADER et CARDS ----------------------*/

.search-filter-header, .main-content, .section-cards{
    display:flex;
    flex-direction: column;
    gap: 2.19rem;
}

/* --------------------- SEARCH FILTER HEADER ----------------------*/

.banner-header-title{
    margin-bottom: 8px;
}

.search-header-form{
    display:flex;
    width: 368px;
    height: 50px
}


input[type=search]{
    text-align: center;
    font-size: var(--font-size-nav);
    font-weight: var(--font-weight-bold);
    border: solid 1px var(--grey, #F2F2F2 );
    width: 200px;
    padding: 0 24px;
}

input[value=Rechercher]{
    text-align: center;
    font-size: var(--font-size-nav);
    color: var(--white, #FFFFFF);
    background: var(--blue, #0065FC);
    border: 1px solid var(--blue, #0065FC);
    border-radius: 0px 15px 15px 0px;
    padding: 14px 16px 15px 16px;
}

.search-header-submit-icone{
    display: none;
}

.filters-bar, .filter-header-info, .filter-bar-buttons{
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.filters-bar-text, .filters-btn{
    font-size: var(--font-size-desktop);
    font-weight: var(--font-weight-bold);
}

.filters-btn{
    display: flex;
    align-items: center;
    gap: 0.625rem;
    height: 50px;
    padding: 4px 19px;
    background-color: var(--white, #FFFFFF);
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);
  
}

button.filters-btn:hover{
    background-color: var(--blue-light, #DEEBFF);
}


/* ------------ MAIN CARD -------------*/
.card {
    padding: 5px;
    background-color: var(--white, #FFFFFF);
    border-radius: 20px;
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1rem;
}

.euro, .afficher-plus {
    font-weight: 700;
}

.neutralStar {
    color: var(--grey, #F2F2F2);
}

.sections-cards-footer,.sections-cards-footer-main{
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

/* .sections-cards-footer{
padding: 0 50px;
} */


/*------------- HEBERGEMENT AND POPULAIRES -------------*/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.hebergements-and-populaires section {
    background-color: var(--grey, #F2F2F2);
    border-radius: 20px;
    padding: 30px;
}

.populaires-cards .card-subtitle, .hebergement-card-article .card-subtitle{
    font-size: 0.875rem;
}

/*------------- Hebergements -------------*/
.hebergements {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
    width: 65%;
    height: auto;
}

.hebergement-cards{
    display: flex;
    justify-content: space-between;
    gap: 1.875rem;
    width: 100%;
}

.hebergement-cards a{
    width: 100%;
}

.hebergement-card-article{
    display: flex;
    flex-direction: column;
    align-items: center;   
    width: 100%;
    padding-bottom: 15px; 
}

.hebergement-card-img{
    display: flex;
    align-content: flex-start;
    width: 100%;
    height: 124px;
    border-top:0px;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
}

.card-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 8px;
    padding: 0px 15px;
}

.card-txt{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}

.hebergement-card-article .card-title{
    margin-top: 9px;
}

.afficher-plus{
    font-size: var(--font-size-nav);
}

/*------------- Populaires -------------*/
.populaires {
    display:flex;
    flex-direction: column;
    gap: 1.88rem;
    width: 32%;
    padding: 30px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.88rem;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 67%;
    padding-left: 15px;
    /* box-sizing: border-box; */
}

.populaires-cards .card-title, .title-hebergement-populaire, .populaires-cards .card-subtitle, .hebergement-card-article .card-subtitle {
    margin-right: -10px;
    /* margin-top: 10px;
    margin-bottom: 4px; */
}

.populaires-cards .card-title {
    font-size: 0.99em;
    margin-top: 10px;
}


/* .populaires-cards .card-subtitle {
margin: 0;
} */

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/*------------- Activités -------------*/
.section-activites{
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 100%;
    height: auto;
    padding: 30px;

}

.section-activites-cards{
    display: flex;
    justify-content: center; 
    gap:1.88rem;
    height: 429px;
}

.section-activites-cards a{
    width: 298px;
}

.activite-card-article{
    display: flex;
    flex-direction: column;
    height: 439px;
    padding: inherit
}

.activite-card-img{
    width: 100%;
    height: 380px;
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    background: lightgray 50% / cover no-repeat;
}

.section-activites .card-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: flex-start;
    align-self: stretch;
    gap: 10px; */
    height: 60px;
    padding: 20px 19px;
}

.main-footer-a-propos,
.main-footer-hebergement,
.main-footer-assistance{
    display: flex;
    flex-direction: column;
}

/* --------------------- FOOTER ----------------------*/
.main-footer{
    display: flex;
    width: 100%;
    background-color: var(--grey, #F2F2F2);
    margin-bottom: 60px;
}

.main-footer-bloc, .main-footer-bloc ul{
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
}

.main-footer-bloc{
    padding: 20px;
    width: 33%;
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
@media all and (min-width: 1025px) and (max-width:1220px) {
/* @media all and (max-width:1260px){ */

    .hebergement-cards{
        gap: 1rem;
    }

    .card-content{
        padding: 0px 8px;
    }

    .populaires-cards .card-title, .hebergement-card-article .card-title{
        font-size: 0.875rem;
    }

    .section-activites{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .section-activites-cards,  .activite-card-article{
        height: 350px;
    }

    .section-activites-card a{
        width: 194px;
    }

    .activite-card-img{
        height: 280px;
    }

    .section-activites .card-title{
        height: 70px;
    }

}
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .logo{
        padding: 30px 20px;
    }

    .main-content{
        padding: 0 20px;
    }

    h1, h2{
        font-size: var(--font-size-nav);
    }
    

    .filters-bar-text, .filters-btn {
        font-size: var(--font-size);
      }
    /* ------------ MAIN CARD -------------*/

    .card-title, .card-subtitle {
        font-size: 0.875rem;
    }

    .filters-bar{
        flex-direction: column;
        align-items: flex-start;
    }

    .hebergements-and-populaires section {
        padding: 15px;
    }
    
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        flex-direction: row;
        gap: 0.8rem;
    }

    .populaires-cards .card {
        width: 35%;
    }

    .populaires-cards .card-title {
        font-size: 0.875rem;
        margin-right: -10px;
    }

    .populaires-cards .card-subtitle {
        /* font-size: 0.8rem; */
        margin-right: -10px;
    }

    .section-activites{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        height: auto;
        padding: 30px;
    }

    .section-activites-cards{
        height: 270px;
    }

    .activite-card-article{
        height: 270px;
    }

    .section-activites-card a{
        width: 194px;
    }

    .activite-card-img{
        height: 200px;
    }

    .main-footer-bloc, .main-footer-bloc ul {
        font-size: var(--font-size-s);
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    #main-header{
        flex-direction: column;
        align-items: center;
        /* justify-content: space-between; */
        height: 115px;
    }

    nav.header-navigation {
        /* display: flex;
        justify-content: space-around; */
        /* align-items: center;
        gap: 8rem; */
        width: 100%;
        padding: 0 25px;
    }

    ul.header-navigation-list {
        width: 100%;
        justify-content: center ;
    }

    li.header-navigation-item > a {
        padding-bottom: 14px;
        width: 100%;
    }


    li.header-navigation-item  a:hover{
        border-top: none;
        border-bottom: solid 0.125rem var(--blue, #0065FC);
    }

    /* .banner-header{
        margin-left: auto;
        margin-right: auto;
    } */

    /* input[type="search"] {
        width: 250px;
    } */


    .main-content {
        padding: 0 15px;
      }
    input[value=Rechercher]{
        display: none;
    }

    .search-header-submit-icone{
        display: inherit;
        width: 50px;
        height: 50px;
        border: solid 1px var(--blue, #0065FC);
        border-radius: 15px;
        background: url("./../images/icones/search.svg") no-repeat center;
        background-color: var(--blue, #0065FC);
        margin-left: -11px;
    }

    .filters-bar{
        gap:0.5rem;
    }

    .filter-bar-buttons{
        display: flex;
        width: 300px;
        flex-wrap: wrap;
    }

    .filters-btn{
        width: 145px;
        padding: 4px 10px;
    }

 




}

